.header {
    background-color: cadetblue;
    margin-bottom: 0px;
    color: cornsilk;
}

.hour-label {
    width: 120px;
}

#header-date {
    text-align: center;
}

#header-time {
    text-align: center;
}

.footer {
    
}

textarea {
    resize: none;
    outline: none;
}

